[run]
source =
    drc_cmis
branch = True
omit =
    drc_cmis/migrations/*

[report]
exclude_lines =
    no cov
    no qa
    noqa
    pragma: no cover
    if __name__ == .__main__.:

[xml]
output=coverage.xml
