# Config file for automatic testing at travis-ci.org

language: python
python:
  - 3.6

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - sudo echo "deb http://download.virtualbox.org/virtualbox/debian precise contrib" | sudo tee -a /etc/apt/sources.list
  - wget http://download.virtualbox.org/virtualbox/debian/oracle_vbox.asc -O- | sudo apt-key add -
  - sudo apt-get update
  - sudo apt-get -y install linux-headers-$(uname -r)
  - sudo apt-get -y install virtualbox-4.2
  - VBoxManage -v
  - wget http://files.vagrantup.com/packages/be0bc66efc0c5919e92d8b79e973d9911f2a511f/vagrant_1.0.5_i686.deb
  - sudo dpkg -i vagrant_1.0.5_i686.deb
  - pip install -U tox-travis

before_script:
  - cd alfresco
  - /opt/vagrant/bin/vagrant up
# Command to run tests, e.g. python setup.py test
script: tox

after_script:
  - cd alfresco
  - /opt/vagrant/bin/vagrant halt

# Assuming you have installed the travis-ci CLI tool, after you
# create the Github repo and add it to Travis, run the
# following command to finish PyPI deployment setup:
# $ travis encrypt --add deploy.password
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: audreyr
  password:
    secure: PLEASE_REPLACE_ME
  on:
    tags: true
    repo: audreyr/drc_cmis
    python: 3.6
