include *.rst
include LICENSE
include test_app/cmis_mapper.json
recursive-include drc_cmis *.html
recursive-include drc_cmis *.js
recursive-include drc_cmis *.css
recursive-include drc_cmis *.txt
recursive-include drc_cmis *.po
global-exclude __pycache__
global-exclude *.py[co]
